 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> Hello, my name is Abdullahi Isa Ahmed and I am a Masters Student in Wireless Telecommunication and Internet of Things (Io) Systems at Institut Supérieur d’Electronique de Paris (ISEP). I obtained my Bachelor’s degree in Telecommunication Engineering from Liaoning University of Technology (LUT), P.R. China.</p>
                </div>
                <div class="col-lg-4">
                    <p> I am interested in new Internship opportunities in field of IoT Engineering, Networking, Machine Learning (ML), Data Science, Ultra-Low Power Wireless Sensing Systems Development, Cybersecurity, among others. I have more than a year teaching experience at The Federal Polytechnic Damaturu, with great focused in Cellular Communication, Intelligent IoT, Hardware programming etc! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/file/d/1UWQOc48gmlAoZrph0kfiTypqGxn8qYA0/view?usp=sharing" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> CV
                    </a>
                </div>
            </div>
        </div>
    </section>
