 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div style="margin:5%" class="text-justify">
                    <p>Abdullahi Isa is a dynamic and driven individual that recently graduated from a master’s program with a specialization in Wireless Telecommunication and Internet of Things (IoT) Systems at ISEP, Paris, France. With a strong foundation in Telecommunication earned from Liaoning University of Technology (LUT) in Jinzhou City, Liaoning Province, PR of China, Abdullahi Isa brings a diverse international perspective to his studies and work.</p>
                </div>
                <div style="margin:5%" class="text-justify">
                    <p>In addition to pursuing his Masters, he also serves as an Assistant Lecturer at The Federal Polytechnic in Damaturu, Yobe State, Nigeria, where he actively contributes to shaping the next generation of technology professionals. Passionate about research, Abdullahi Isa's interests lie in Intelligent IoT, Localization in LoRa technology, Machine Learning (ML), Deep Learning (DL), and Networking, as he strives to unravel innovative solutions that bridge the gap between theory and practice. He recently finished a research internship at UM6P in Morocco where he worked on developing a deep-learning-based model for predicting accurate IoT localization coordinates. He used TensorFlow and the Scikit-learn framework to develop an accurate model.</p>
                </div>
                <div style="margin:5%" class="text-justify">
                    <p>His dedication to academic excellence and practical application drives him to explore cutting-edge technologies and contribute to the advancement of the modern communication and IoT ecosystem. With a meticulous approach, he seeks to leverage his expertise and adaptability to solve complex challenges and drive transformative change. His strong commitment to continuous learning, coupled with his cross-cultural experiences, positions him as a valuable asset ready to make a meaningful impact in the ever-evolving field of Wireless Telecommunications and IoT.  </p>
                </div>
                 <div style="margin:5%" class="text-justify">
                    <p>Feel free to connect with Abdullahi Isa to explore collaboration opportunities or learn more about his exciting research journey.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
           
                    <a href="https://drive.google.com/file/d/1W4DQoCiW4VX_QiZOBJrrXkC8jbXjBZvT/view" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> CV
                    </a>
                </div>
            </div>
        </div>
    </section>
