 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div style="margin:5%">
                    <p> Abdullahi Isa AHMED is a Masters Student of Wireless Telecommunication and Internet of Things (IoT) Systems at @ISEP, Paris, France. Abdullahi obtained his Bachelor of Engineering in Telecommunication at Liaoning University of Technology @LUT, Jinzhou city, Liaoning Province, PR of China. He also works as an Assistant Lecturer at The Federal Polytechnic, Damaturu, Yobe State, Nigeria. His research interests include Intelligent IoT, Machine Learning (ML) and Networking. I speak English, Hausa and Chinese (Mandarin) Language.</p>
                </div>
                <div style="margin:5%">
                    <p> I am looking for a 6-months (starting from February 2023) Internship opportunities in field of IoT System, Data Science, Machine Learning (ML), Cyber-security, Mobile Technology (4, 5 & 6G) and/or Networking. </p>
                </div>
                <div style="margin:5%">
                    <p> I am looking for a 6-months (starting from February 2023) Internship opportunities in field of IoT System, Data Science, Machine Learning (ML), Cyber-security, Mobile Technology (4, 5 & 6G) and/or Networking. </p>
                </div>
                 <div style="margin:5%">
                    <p> I am looking for a 6-months (starting from February 2023) Internship opportunities in field of IoT System, Data Science, Machine Learning (ML), Cyber-security, Mobile Technology (4, 5 & 6G) and/or Networking. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
           
                    <a href="https://drive.google.com/file/d/1S3-4LwdDgWtYKuQkAvLvW_UdeCXH0Qjf/view" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> CV
                    </a>
                </div>
            </div>
        </div>
    </section>
